# =========================
# AI Models
# =========================
GROQ_API_KEY=

# Optional (Future)
OPENAI_API_KEY=

# =========================
# Search
# =========================
TAVILY_API_KEY=

# =========================
# Vector Database
# =========================
QDRANT_URL=http://localhost:6333