# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# Ruff
.ruff_cache/

# Build
*.egg-info/

# IDE
.vscode/

# Operating System
.DS_Store
Thumbs.db
